/**
 * #Dashboard
 * @info: #main-content layout
 */

.dashboard {
    $aside: 240px;
    $topSpacer: 0;
    @extend .is-relative;
    margin-top: $topSpacer;

    #main-navigation {
        @extend %is-fixed, %is-full-width, %has-shadow;
        background-color: $purple-dark;
        max-width: $aside;
        height: 100%;
        top: $topSpacer;
        left: 0;
        z-index: 2;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1.5rem 1rem;
        color: white;
    }

    .router-view {
        @extend .is-relative;
        margin-left: $aside;

        .inner-view {
            margin: 100px 0 30px;
        }

        section {
            &:not(.datepicker-table) {
                @extend .is-small;
            }
        }
    }
}