/**
 * #main-header
 * @info: main-container margin is managed via javascript;
 */

#main-header {
    @extend %is-fixed, %is-full-width, %has-shadow;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1rem 30px 1rem 274px;

    .navbar {
        background: none;
        align-items: end;
        min-height: auto;

        &-burger {
            width: 30px;
            justify-content: center;
            flex-direction: column;

            span {
                @extend %is-full-width;
                background: white;
                position: unset;
                margin: 0.1rem 0;
                height: 1px;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        &-menu {
            background: none;
            margin: 0;
            padding: 0;
            box-shadow: none;

            .navbar-end {
                flex-direction: column;
            }
        }

        @include media-queries('tablet-landscape') {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-brand {
                display: inline-flex;
            }

            &-menu {
                flex-grow: 0;
            }

            &-burger {
                display: flex !important;
            }
        }
    }

    @include media-queries('tablet-landscape') {
        padding: 0.5rem $gap;
    }
}