/**
* Core Structure
*/

html {
    @extend %is-full-height;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body,
#app,
#global {
    @extend %is-full-height;
    position: relative;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

#main-content {
    flex: 1;
}

menu,
picture,
q {
    @extend %reset-to-default;
}

[v-cloak] {
    display: none !important;
}

img:not([src]) {
    visibility: hidden;
}

a,
button,
svg,
img {
    @extend %has-transition;
}

a,
a:hover,
a:focus,
button,
button:hover,
button:focus,
textarea,
input,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::placeholder {
    color: inherit !important;
}
