/**
 * Bulma Cardss
 * @see https://bulma.io/documentation/components/card/
 */

.card {
    box-shadow: none;
    border: none;
    margin-bottom: 2rem;

    &-content {
        padding: 40px;

        h3,
        h4 {
            a {
                color: inherit;
            }
        }

        figure {
            @extend .is-relative, .is-clipped;
            min-height: 230px;
            margin: 0 0 1rem !important;

            img {
                $scale: 328px;
                @extend %is-full-width, %has-transition, .is-relative;
                z-index: 1;
                object-fit: cover;
                max-height: $scale;
                min-height: $scale;

                @include media-queries('mobile') {
                    min-height: 0;
                }
            }

            a {
                @extend .is-block, .is-relative, .is-clipped, %background-cover;

                &:after {
                    @extend %has-transition;
                    @include pseudo($fill: true);
                    background: rgba($color: $purple-light, $alpha: 0);
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                &:hover {
                    opacity: 1;

                    &:after {
                        background: rgba($color: $purple-light, $alpha: 0.7);
                    }

                    img {
                        transform: scale(1.1);
                    }
                }
            }

            figcaption {
                @extend %is-absolute, %has-shadow, .is-clipped, .is-flex;
                align-items: center;
                justify-content: center;
                z-index: 3;
            }

            @include media-queries('mobile') {
                min-height: 0;
            }
        }

        .buttons {
            .button {
                margin-bottom: 0;
            }
        }
    }

    &-image {
        &.is-centered {
            img {
                display: block;
                margin: 0 auto 2rem;
            }
        }
    }

    &.as-highlight {
        color: white;
        padding: 2rem;

        &.is-narrow {
            p {
                margin: 0 auto 1rem;
                max-width: 684px;
            }
        }

        &.is-pink {
            background: linear-gradient(180deg, rgba(255, 150, 185, 1) 0%, rgba(255, 125, 169, 1) 100%);
        }
    }

    &.with-set-height {
        min-height: 432px;
    }

    &.last-node {
        margin-bottom: 0;
    }

    @include media-queries('mobile') {
        margin-bottom: 1rem;
    }
}