/**
* Bulma Modals
* @see https://bulma.io/documentation/elements/modal/
*/

.modal {
    @extend %has-transition;
    z-index: 1000;

    h3 {
        font-size: toRem(24);
    }

    .box {
        background: white;
        border-radius: 0;
    }

    &-content {
        @extend %has-transition;
        max-width: 1200px;
        width: auto;
    }

    .content {
        @extend .is-relative;
        margin: 0;

        &.media {
            padding: 0;
        }
    }

    .delete {
        @extend %is-absolute;
        $position: 32px;
        background: none !important;
        right: $position;
        top: $position;
        z-index: 5;

        &:after,
        &:before {
            background-color: white;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &.video {
        .box {
            background: $lighter-black;
        }

        .iframe-content {
            min-width: 980px;

            @include media-queries('tablet-portrait') {
                min-width: 300px;
            }
        }
    }

    &.is-very-large {
        .modal-content {
            min-width: 75%;

            .box {
                background: white;
            }

            @include media-queries('tablet-portrait') {
                min-width: 92%;
            }
        }

        .iframe-content {
            min-width: 100vh;

            @include media-queries('tablet-portrait') {
                min-width: 300px;
            }
        }
    }

    &.as-prompt {
        .modal-card-body {
            background: #301D4B;
            padding: 2rem;
            border-radius: 16px;
            color: white;
        }
    }

    @include media-queries('tablet-portrait') {
        h2 {
            font-size: toRem(30);
        }

        h3 {
            font-size: toRem(20);
        }

        .modal-content {
            max-width: 92% !important;

            .box {
                overflow-y: scroll;
            }
        }

        .content {
            padding: 25px;
        }
    }
}