/**
* Buefy Snackbar
* @see https://buefy.org/documentation/snackbar
*/

.snackbar {
    &.is-secondary {
        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}