/**
* Typography
* @see: https: //fonts.google.com/specimen/Nunito?preview.text=Das%20Sterben%20ist%20zu%20wichtig,%20um%20es%20dem%20Tod%20alleine%20zu%20%C3%BCberlassen.&preview.text_type=custom&preview.size=31
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');


.content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
    }

    h1 {
        font-size: toRem(60);
        font-weight: 900;
        margin: 0 0 3rem;

        &:not(:first-child) {
            margin-top: 0;
        }

        a {
            color: inherit;
        }
    }

    h2 {
        margin: 0 0 2rem;
        font-size: toRem(36);
    }

    h3 {
        font-size: toRem(26);
        margin: 0 0 1.4rem;
    }

    h4 {
        font-size: toRem(24);
        line-height: 1.8rem;
        font-weight: 900;
        margin: 0 0 1.8rem;
    }

    h5 {
        font-size: toRem(12);
        font-weight: 600;
    }

    h6 {
        font-size: 1rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
        line-height: toRem(24);

        a {
            text-decoration: underline;

            &:hover {
                opacity: 0.7;
            }

            &:after {
                content: none !important;
            }
        }
    }

    small,
    q {
        font-size: 1rem;
    }

    q {
        @extend .is-uppercase;
        font-weight: 900;
        margin: 0 0 1.2rem;

        &:after,
        &:before {
            content: none;
        }
    }

    @include media-queries('tablet-landscape') {
        h1 {
            font-size: toRem(35);
        }

        h2 {
            font-size: toRem(30);
        }

        h3 {
            font-size: toRem(25);
            margin: 0 0 1.2rem;
        }

        h4 {
            font-size: toRem(18);
        }

        p,
        li {
            font-size: 1rem;
            line-height: 2rem;
        }
    }
}