/**
* Articles
* @see https://bulma.io/documentation/elements/content/
*/

article,
div,
header {
    &.content {
        figure {
            margin-left: 0;
            margin-right: 0;

            img {
                display: block;
            }

            &.size-full {
                img {
                    width: 100%;
                    @extend .is-block, %is-full-width;
                    object-fit: cover;
                }
            }

            &.svg {
                max-width: 78px;
                margin: 0 auto;
            }

            &.with-video {
                @extend .is-relative, .is-clipped, %background-cover, %has-transition, %is-full-width;
                min-height: 260px;

                &:after {
                    @extend %has-transition;
                    @include pseudo($fill: true);
                    background: rgba($color: black, $alpha: 0.4);
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                img {
                    @extend .is-relative;
                    z-index: 0;
                    object-fit: cover;
                }

                figcaption {
                    @extend %is-absolute, %is-full-width, %is-full-height, .is-flex;
                    top: 0;
                    left: 0;
                    align-items: center;
                    justify-content: center;

                    a {
                        @extend .is-flex, %is-full-width, %is-full-height;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-size: toRem(70);
                    }

                    z-index: 2;
                }

                &:hover {
                    &:after {
                        background: rgba($color: $purple-light, $alpha: 0.5);
                    }
                }
            }
        }

        .iframe-content {
            @extend .is-relative, .is-clipped, %is-full-width;
            padding-top: 56.25%;

            iframe,
            object {
                @extend %is-absolute, %is-full-width, %is-full-height;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }

        &.is-centered {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            figure {
                text-align: center;
            }
        }

        &.is-mobile-centered {
            @include media-queries('mobile') {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                figure {
                    text-align: center;
                }
            }
        }

        &.is-compact {
            max-width: 940px;
            margin: 0 auto;

            @include media-queries('mobile') {
                max-width: unset;
            }
        }
    }
}