/**
 * Bulma Buttons
 * @see https://bulma.io/documentation/elements/button/
 */

.buttons {
    &.is-stacked-on-mobile {
        @include media-queries('mobile') {
            .button {
                width: 100%;
                margin: 0 0 1rem !important;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

.button {
    @extend .is-primary;
    font-size: 1rem;
    font-weight: 700;
    border-width: 0;
    border-radius: 32px;
    transition: background 0.2s ease;

    &.is-outlined {
        background: transparent;
        color: #1d1d1d;

        &:hover {
            color: white;
        }

        &.is-on-white {
            color: white;
        }
    }

    &.is-transparent {
        background: transparent;
        color: $text;

        &:hover {
            background: none;
        }
    }

    &.is-primary {
        background: $pink;

        &:hover {
            background: $violet;
        }
    }

    &.is-large {
        min-width: 200px;
        min-height: 44px;
        font-size: 1rem;
    }

    &:focus,
    &:active {
        box-shadow: none !important;
    }
}