/**
* Bulma Tables
* @see https://bulma.io/documentation/elements/table/
*/

.table {

    th,
    td {
        font-size: 1rem;
        border-color: #1d1d1d !important;

        @include media-queries('tablet-portrait') {
            font-size: 0.8rem;
        }
    }

    th {
        @extend .is-uppercase;
    }

    &.default {

        th,
        td {
            @extend .is-uppercase;
            font-weight: 700;
        }
    }
}