/**
* Asset paths
*/

$theme: 'resources/';
$images: '#{$theme}/images';
$svgs: '#{$theme}/svgs';
$fonts: '#{$theme}/fonts';

/**
* Palette
*/

$purple-dark: #281C40;
$purple-darker: #1a0a45;
$purple-light: #554C68;
$purple-ligher: #625575;
$violet: #7151B1;
$teal: #00a9ce;
$lighter-black: #0e0e0e;
$pink: #FF7BA9;

/**
* Grid
*/

$gap: 1.5rem;

/**
* Typography
*/

$default-font: 'Nunito', Helvetica Neue, Helvetica, Arial, sans-serif;